@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #F9EBD0; 
    --branco: #7D7F7D; 
    --laranja: #D5006D; 
    --azul-degrade: linear-gradient(97.54deg, #F9C74F 35.49%, #7ef96b 165.37%); 
    --fonte-principal: "Poppins";
    --azul: #3B8A4B; 
    --fonte-secundario: "Josefin Sans";
    --preto: #ef06f7; 
    --cinza: #394029;
    --cinza-claro: #a34e2c;
}


body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
