@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #F7F3F2; 
    --cinza-claro: #E0E0E0; 
    --vermelho: #D14526; 
    --verde-degrade: linear-gradient(97.54deg, #4D8C2A 35.49%, #A4D65E 165.37%); 
    --fonte-principal: "Poppins";
    --roxo: #6A2C91; 
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

