@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #F9EBD0; 
    --branco: #f58ad1; 
    --laranja: #D5006D; 
    --azul-degrade: linear-gradient(97.54deg, #F9C74F 35.49%, #ff9900 165.37%); 
    --fonte-principal: "Poppins";
    --azul: #a52084; 
    --fonte-secundario: "Josefin Sans";
    --preto: #ef06f7; 
    --cinza: #bd4abd;
    --cinza-claro: #f0abe1;
}


body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
